<div class="parallax-container interests">
    <section id="interests" appScrollSection="interests">
        <div observeVisibility (visible)="onVisible()"></div>
        <fc-about-block position="left">
            <h2 class="head">Interests</h2>
            <p class="text">I'm not just a very nerdy programmer. In my free time I like to do a lot of things...</p>
        </fc-about-block>

        <fc-about-block position="right">
            <h3 class="head">Reading</h3>
            <p class="text">One of my main interests has always been reading.
                I love reading anything, from novels to comics, from computer science texts to physics essays.
                Among my favorite authors are Arthur Conan Doyle, Edgar Allan Poe, Stephen King, J.R.R. Tolkien,
                Margaret Weis and Tom Clancy.
            </p>
        </fc-about-block>

        <fc-about-block position="left">
            <h3 class="head">Movies and TV series</h3>
            <p class="text">I also love watching movies and TV series.
                Some of my favorite series include Breaking Bad, Lost, Better Call Saul, Fringe, House MD and The Queen's Gambit.
                With films, however, I love to range across all genres and whenever I can I try to go to the cinema to see the latest releases.</p>
        </fc-about-block>

        <fc-about-block position="right">
            <h3 class="head">Running and Mountain</h3>
            <p class="text">When I'm not immersed in the digital world or books, you'll find me on the move.
                Running is an essential part of my life, and I also like to challenge myself with trail running.
                Nothing beats the feeling of running in nature or tackling the mountains on an adventure race.
            </p>
        </fc-about-block>

        <fc-about-block position="left">
            <h3 class="head">Physics</h3>
            <p class="text">Lastly, I love physics.
                I have been passionate about it since high school, when I finished studying on my own everything that was in the textbook and that was not in the program for the school year.
                During university, the physics exam was the only exam in which I told myself that I would not accept a grade lower than 30.
                My own degree thesis "Comparative study of software for the dynamic simulation of structures" physics as the main topic.
                Today I love reading books that talk about physics and scientists, watching documentaries and I follow various channels on YouTube that deal with this topic in a popular way.</p>
        </fc-about-block>
    </section>
    <fc-gallery [items]="(gallery$ | async) || []"></fc-gallery>
</div>
