<div class="parallax-container about-me">
    <section id="about-me" appScrollSection="about-me">
        <div observeVisibility (visible)="onVisible()"></div>
        <fc-about-block position="left">
            <h2 class="head">About me</h2>
            <p class="text">
                Hello! I'm a passionate Software Architect with a strong inclination towards open source, good experience in distributed systems design, and a deep love for software development.
            </p>
        </fc-about-block>
        <fc-about-block position="right">
            <p class="text">
                Over time I've tackled complex challenges, architecting highly scalable and reliable distributed systems. I've a solid understanding of the fundamental principles of microservices, as well as the implementation of patterns and best practices to ensure the success of service-oriented architectures.
            </p>
        </fc-about-block>
        <fc-about-block position="left">
            <p class="text">
                My journey in software development has led me to explore and master a wide range of technologies and programming languages. I'm passionate about research and continuous learning, always seeking out new trends and innovations that can improve the way we build and deliver high-quality software. My vision is to create and promote scalable, flexible, and secure systems, embracing the best solutions that open source has to offer.
            </p>
        </fc-about-block>
    </section>
    <fc-gallery [items]="(gallery$ | async) || []"></fc-gallery>
</div>