@import '../../../media-query.scss';

.about-me {
    background-image: url(https://ik.imagekit.io/bzuos3bkr/aboutMe-mobile.webp?updatedAt=1691584750542);
    padding-top: 2em;

    #about-me {
        padding: 0.8em;
    }
}

@include tablet {
    .about-me {
        background-image: url(https://ik.imagekit.io/bzuos3bkr/tr:w-920,e-grayscale/aboutMe.jpg?updatedAt=1695217934470);
    }
}

@include laptop {
    .about-me {
        background-image: url(https://ik.imagekit.io/bzuos3bkr/tr:w-1920,h-900,c-mantain_ratio,fo-custom,e-grayscale/aboutMe.jpg?updatedAt=1695217934470);
    }
}