@import '../../../media-query.scss';

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    .card {
      flex: 1;
      transition: all 1s ease-in-out;
      height: 75vmin;
      position: relative;
      .card__head {
        color: var(--accent);

        background: rgba( 0, 0, 0, 0.6 );
        backdrop-filter: blur( 5px );
        -webkit-backdrop-filter: blur( 5px );

        padding: 0.5em;
        transform: rotate(-90deg);
        transform-origin: 0% 0%;
        transition: all 0.5s ease-in-out;
        min-width: 130px;
        text-align: left;
        position: absolute;
        bottom: 0;
        left: 0;
        font-size: 1em;
        font-weight: bolder;
        font-family: var(--ubuntu-300);
        white-space: nowrap;
      }

      &:hover {
        flex-grow: 3;
        img {
          filter: grayscale(0);
        }
        .card__head {
          text-align: center;
          top: calc(100% - 2em);
          color: white;

          backdrop-filter: blur( 0 );
          -webkit-backdrop-filter: blur( 0 );

          font-size: 2em;
          min-width: 100%;
          transform: rotate(0deg);

          bottom: -1px;
        }
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 1s ease-in-out;
        filter: grayscale(100%);
      }
    }
  }

@include tablet {
    .container .card {
      height: 50vmin;
    }
}