<div class="parallax-container skills">
    <section id="skills" appScrollSection="skills">
        <div observeVisibility (visible)="onVisible()"></div>
        <div class="glass"
            [ngClass]="{ 'out-of-view': isHide()}"
            observeVisibility
            (visible)="onVisible()">
            <h2 class="head">Skills</h2>
            <p class="text">
                Here is a short list of my technical skills
            </p>
        </div>
        @for(group of skills(); let i = $index; track i){
            <fc-skill-group [group]="group"></fc-skill-group>
        }
    </section>
    <fc-gallery [items]="gallery()"></fc-gallery>
</div>