.skills {
    background-image: url(https://ik.imagekit.io/bzuos3bkr/skills-mobile.webp?updatedAt=1691584769231);
    padding-top: 2em; 
    
    #skills {
        padding: 0.8em;  
        
        .glass {
            margin-bottom: 1em;
        }
        
        fc-skill-group {
            margin-bottom: 1em;
        }
    } 
    
}