@import '../../../media-query.scss';

.open-source {
    background-image: url(https://ik.imagekit.io/bzuos3bkr/openSource-mobile.webp?updatedAt=1693498159333);

    #open-source {
        h3.tech {
            font-family: var(--ubuntu-300);
            font-size: 0.75em;
            color: var(--accent);
            font-weight: lighter;
            display: flex;
            flex-wrap: wrap;
            gap: 4px;

            span {
                color: var(--primary);
                background-color: var(--accent);
                border-radius: var(--border-radius);
                padding: 4px;
            }
        }
    }
}

.icon-container {
    display: flex;
    justify-content: center;
    gap: 1em;
    width: 100%;

    a {
        display: inline-block;
        text-align: center;
        text-decoration: none;
        width: 140px;
        height: 110px;
        line-height: 80px;
        border: var(--glass-border);
        border-radius: var(--border-radius);
        user-select: none;
        padding: 0.5em;
        background: rgba(0, 0, 0, 0.45);
        backdrop-filter: blur(8px);
        -webkit-backdrop-filter: blur(8px);
        color: var(--accent);

        &:visited {
            color: auto;
        }

        &:hover {
            background-color: #FFF;
            box-shadow: var(--contacts-shadow);
            border: none 0;
            transition: all 0.3s ease-in;
            color: var(--primary);

            p {
                color: var(--primary);
            }

            span.q-dev {
                background-image: url(/assets/images/QuokkaDevLogo_Color.svg);
            }
        }

        span {
            display: block;
            width: 80px;
            height: 80px;
            margin: auto;

            &.q-dev {
                width: 105px;
                background-image: url(/assets/images/QuokkaDevLogo_White.svg);
                background-size: auto 80px;
                background-repeat: no-repeat;
                background-position: center center;
            }
        }

        p {
            color: var(--accent);
            line-height: 1em;
            font-size: 0.8em;
            font-family: var(--ubuntu-300);
            margin: 0;
            margin-top: 1em;
            text-decoration: none;
        }

        img {
            display: block;
            height: 80px;
            margin: auto;
        }
    }
}

@include tablet {
    .open-source {
        background-image: url(https://ik.imagekit.io/bzuos3bkr/tr:w-900,h-1400,e-grayscale/openSource.jpg?updatedAt=1695219366946);
    }
}

@include laptop {
    .open-source {
        background-image: url(https://ik.imagekit.io/bzuos3bkr/tr:w-1920,e-grayscale/openSource.jpg?updatedAt=1695219366946);
    }

    .icon-container {
        a {
            height: 120px;
        }
    }
}