<div class="container">
    <a href="https://www.facebook.com/fabio.cometti" target="_blank"><fa-icon title="Facebook" [icon]="faFacebook"></fa-icon></a>
    <a href="http://instagram.com/fabio_cometti" target="_blank"><fa-icon title="Instagram" [icon]="faInstagram"></fa-icon></a>
    <a href="https://twitter.com/il_numero_10" target="_blank"><fa-icon title="Twitter" [icon]="faTwitter"></fa-icon></a>
    <a href="https://www.linkedin.com/in/fabio-cometti-9984984" target="_blank"><fa-icon title="LinkedIn" [icon]="faLinkedin"></fa-icon></a>
    <a href="http://fabiocometti.wordpress.com" target="_blank"><fa-icon title="Blog" [icon]="faWordpress"></fa-icon></a>
    <a href="https://github.com/fabio-cometti" target="_blank"><fa-icon title="Github" [icon]="faGithub"></fa-icon></a>
    <a href="mailto:fabio.cometti@gmail.com" target="_blank"><fa-icon title="Email" [icon]="faAt"></fa-icon></a>
    
</div>
