@import '../../../media-query.scss';

.extra {
    background-image: url(https://ik.imagekit.io/bzuos3bkr/wip-mobile.webp?updatedAt=1693578439166);
}

.wip {
    color: var(--accent);
}

@include tablet {
    .interests {
        background-image: url(https://ik.imagekit.io/bzuos3bkr/tr:w-900,h-1400,e-grayscale/wip.jpg?updatedAt=1695222445796);
    }
}