<div class="parallax-container extra">
    <section id="extra" appScrollSection="extra">
        <div observeVisibility (visible)="onVisible()"></div>
        <fc-about-block position="left">
            <h2 class="head"><fa-icon [style]="{display: 'inline-block', width: '0.8em'}" [icon]="faGift"></fa-icon> Extra contents</h2>
            <p class="text">Here some extra contents for you!</p>
        </fc-about-block>
        <fc-about-block position="right">
            <h2 class="head"><fa-icon [style]="{display: 'inline-block', width: '1em'}" [icon]="faGraduationCap"></fa-icon> My Thesis</h2>
            <p class="text">If you are interested you can download my thesis in PDF format (only in italian language) following <a href="/assets/thesis.pdf" download>this link</a></p>
        </fc-about-block>
        <fc-about-block position="left">
            <h2 class="head"><fa-icon [style]="{display: 'inline-block', width: '1em'}" [icon]="faStopwatch"></fa-icon> Performance</h2>
            <p class="text">If you are curious to see the result of my efforts to optimize the performance of this site you can consult <a href="https://pagespeed.web.dev/analysis/https-fabio-cometti-dev/vz68dq3j3c?form_factor=mobile" target="_blank">this report on PageSpeed</a></p>
        </fc-about-block>
        <fc-about-block position="right">
            <h2 class="head"><fa-icon [style]="{display: 'inline-block', width: '1em'}" [icon]="faShieldHalved"></fa-icon> Security</h2>
            <p class="text">As a security lover, I have tried to make this site as safe as possible by following some best practices regarding security headers. You can see my site rating at <a href="https://securityheaders.com/?q=https%3A%2F%2Ffabio-cometti.dev%2F&followRedirects=on" target="_blank">SecurityHeaders.com</a></p>
        </fc-about-block>
        <fc-about-block position="left">
            <h2 class="head"><img alt="Raptor" height="30px" src="/assets/images/raptor.png" /> Raptorize</h2>
            <p class="text">Click on <a href="#" (click)="raptorize($event)">this link</a> if you agree that a real website should have a velociraptor inside...</p>
        </fc-about-block>
        <fc-raptorize #raptor [@runState]="raptorState" (@runState.start)="roar($event)" (@runState.done)="resetRaptor($event)"></fc-raptorize>
    </section>
    <fc-gallery [items]="(gallery$ | async) || []"></fc-gallery>
</div>
