<div class="outer" appScrollManager [ngClass]="{ 'edge': isEdge}">
    <nav class="navigation">
        <button id="menu" aria-label="menu" #menuButton class="glass menu-button" (click)="toggleMenu()"><fa-icon [icon]="faBars"></fa-icon></button>
        <div title="menu" class="glass links-container" [ngClass]="{'open': showMenu }">
            <ul class="links">
                <li class="inset-border" appScrollAnchor="about-me" (click)="closeMenu(0)">About me</li>
                <li class="inset-border" appScrollAnchor="skills" (click)="closeMenu(1)">Skills</li>
                <li class="inset-border" appScrollAnchor="work-experiences" (click)="closeMenu(2)">Work experiences</li>
                <li class="inset-border" appScrollAnchor="projects" (click)="closeMenu(3)">Projects</li>
                <li class="inset-border" appScrollAnchor="open-source" (click)="closeMenu(4)">Open source</li>
                <li class="inset-border" appScrollAnchor="interests" (click)="closeMenu(5)">Interests</li>
                <li *ngIf="(extraEnabled$ | async)" class="inset-border" appScrollAnchor="extra" (click)="closeMenu(6)">Extra</li>
            </ul>
        </div>
    </nav>
    <div class="parallax-container intro">
        <section #top id="intro" appScrollSection="intro">
            <div class="intro-container glass">
                <div class="name">
                    Fabio Cometti
                </div>
                <div class="title">
                    Software architect &amp; <br>
                    Technical leader
                </div>
            </div>
            <div class="quote glass" *ngIf="(quote$ | async) as quote">
                <span>"{{quote.quote}}"</span><br>
                <div>
                    [{{quote.author}} <span *ngIf="!!quote.opera">- {{quote.opera}}</span>]
                </div>
            </div>
        </section>
    </div>
    <section class="buffer"></section>
    <fc-placeholder />
    <div class="s">
        @defer (on viewport;  on interaction(menuButton)) {
            <fc-about-me></fc-about-me>
        } @placeholder {
            <fc-placeholder appScrollSection="about-me" />
        }
    </div>
    <section class="buffer"></section>
    <div class="s">
        @defer (on viewport; on interaction(menuButton)) {
            <fc-skills></fc-skills>
        } @placeholder {
            <fc-placeholder appScrollSection="skills" />
        }
    </div>
    <section class="buffer"></section>
    <div class="s">
        @defer (on viewport; on interaction(menuButton)) {
            <fc-work-experiences appScrollSection="work-experiences"></fc-work-experiences>
        } @placeholder {
            <fc-placeholder />
        }
    </div>
    <section class="buffer"></section>
    <div class="s">
        @defer (on viewport; on interaction(menuButton)) {
            <fc-projects appScrollSection="projects"></fc-projects>
        } @placeholder {
            <fc-placeholder />
        }
    </div>
    <section class="buffer"></section>
    <div class="s">
        @defer (on viewport; on interaction(menuButton)) {
            <fc-open-source></fc-open-source>
        } @placeholder {
            <fc-placeholder appScrollSection="open-source" />
        }
    </div>
    <section class="buffer"></section>
    <div class="s">
        @defer (on viewport; on interaction(menuButton)) {
            <fc-interests></fc-interests>
        } @placeholder {
            <fc-placeholder appScrollSection="interests" />
        }
    </div>
    <section class="buffer"></section>
    @defer(when (extraEnabled$ | async)){
        <fc-extra-content></fc-extra-content>
        <section class="buffer"></section>
    }
    @defer(on viewport; on interaction(menuButton)) {
        <fc-contacts [hideExtraContentHint]="(extraEnabled$ | async) || false"></fc-contacts>
    } @placeholder {
        <fc-placeholder />
    }
</div>

@if(showScrollToTop){
    <div title="Scroll to top" class="glass scroll-to-top" (click)="scrollToTop()">
        <fa-icon [icon]="faArrowUp"></fa-icon>
    </div>
}
