<div class="outer" appScrollManager [ngClass]="{ 'edge': isEdge()}">
  <fc-navigation (menuOpen)="onMenuOpen()" #navMenu="navMenu"></fc-navigation>
  <main class="parallax-container intro">
    <section #top id="intro" appScrollSection="intro">
      <div class="intro-container glass">
        <div class="name">
          Fabio Cometti
        </div>
        <div class="title">
          Software architect &amp; <br>
          Technical leader
        </div>
      </div>
      @if(quote(); as quote){
        <div class="quote glass" >
          <span>"{{quote.quote}}"</span><br>
          <div>
            [{{quote.author}} @if (!!quote.opera) {
            <span>- {{quote.opera}}</span>
            }]
          </div>
        </div>
      }
    </section>
  </main>
  <div class="buffer"></div>
  <div class="s">
    @defer (on viewport;  on interaction(navMenu)) {
    <fc-about-me></fc-about-me>
    } @placeholder {
    <fc-placeholder appScrollSection="about-me" />
  }
</div>
<div class="buffer"></div>
<div class="s">
  @defer (on viewport; on interaction(navMenu)) {
   <fc-skills></fc-skills>
  } @placeholder {
  <fc-placeholder appScrollSection="skills" />
}
</div>
<div class="buffer"></div>
<div class="s">
  @defer (on viewport; on interaction(navMenu)) {
  <fc-work-experiences appScrollSection="work-experiences"></fc-work-experiences>
  } @placeholder {
  <fc-placeholder />
}
</div>
<div class="buffer"></div>
<div class="s">
  @defer (on viewport; on interaction(navMenu)) {
  <fc-projects appScrollSection="projects"></fc-projects>
  } @placeholder {
  <fc-placeholder />
}
</div>
<div class="buffer"></div>
<div class="s">
  @defer (on viewport; on interaction(navMenu)) {
  <fc-open-source></fc-open-source>
  } @placeholder {
  <fc-placeholder appScrollSection="open-source" />
}
</div>
<div class="buffer"></div>
<div class="s">
  @defer (on viewport; on interaction(navMenu)) {
  <fc-interests></fc-interests>
  } @placeholder {
  <fc-placeholder appScrollSection="interests" />
}
</div>
<div class="buffer"></div>
@defer(when (extraService.extraEnabled())){
<fc-extra-content></fc-extra-content>
<div class="buffer"></div>
}
@defer(on viewport; on interaction(navMenu)) {
<fc-contacts [hideExtraContentHint]="(extraService.extraEnabled()) || false"></fc-contacts>
} @placeholder {
<fc-placeholder />
}
</div>

@if(showScrollToTop()){
  <div title="Scroll to top" class="glass scroll-to-top" (click)="scrollToTop()">↑</div>
}
