@import '../media-query.scss';

.intro {
    background-image: url(https://ik.imagekit.io/bzuos3bkr/intro-mobile.webp?updatedAt=1691584018723);
    // position: relative;
    padding-top: 0;
}

#intro {
    transform: translateY(16em);
    overflow: hidden;

    color: var(--primary);
    font-family: var(--ubuntu-300);
    font-weight: bold;

    padding: 0.8em;

    .intro-container {
        display: inline-block;

        &> div {
            display: inline-block;
            padding: 8px;
        }

        .name {
            font-size: 2em;
            border-bottom: solid 1px var(--primary);
        }

        .title {
            color: var(--accent);
            font-size: 1.2em;
        }
    }
}

.navigation {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1em;
    width: calc(100vw - 2em);
    margin: 1em;
    z-index: 20;
    perspective: 300px;

    .menu-button {
        display: inline-block;
        width: 3em;
        height: 3em;
        border-radius: 50%;
        color: var(--primary);
        font-size: 1.25em;
    }

    .links-container {
        transform: translateZ(0) rotateY(-120deg);
        transform-origin: center right;
        opacity: 0;
        transition: transform 0.5s, opacity 0.5s, height 3s;
        height: 0;

        will-change: transform;

        &.open {
            transform: rotateY(0deg);
            opacity: 1;
            height: 100%;
        }

        .links {
            margin: 0;
            margin-top: 1em;
            margin-block-start: 0;
            margin-block-end: 0;
            padding-inline-start: 0;
            min-width: 15em;

            li {
               cursor: pointer;
               list-style-type: none;
               display: block;
               font-family: var(--ubuntu-300);
               font-weight: bolder;
               margin-bottom: 1em;
               color: #FFF;

               user-select: none;

               &:hover {
                color: var(--primary);
                background-color: #FFF;
                -webkit-box-shadow: var(--contacts-shadow);
                -moz-box-shadow: var(--contacts-shadow);
                -o-box-shadow: var(--contacts-shadow);
                box-shadow: var(--contacts-shadow);
                border: none 0;
                transition: all 0.3s ease-in;
               }
            }
        }
    }
}

.extra-content-container {
    display: none;

    &.show-extra {
        display: block;
    }
}

.quote {
    color: var(--accent);
    font-family: var(--ubuntu-300);
    font-size: 1.5em;
    font-style: italic;
    margin-top: 2.5em;

    position: relative;

    animation: move 1s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;

    opacity: 0;

    div {
        text-align: right;
        font-size: 0.5em;
    }
}

@keyframes move {
    0% {
        transform: scale(500%);
        opacity: 0;
    }

    100% {
        transform: scale(100%);
        opacity: 0.8;
    }
}

@include tablet {
    #intro {
        transform: translateY(25em);
    }

    .intro {
        background-image: url(https://ik.imagekit.io/bzuos3bkr/tr:h-1400,e-grayscale/verona.jpg?updatedAt=1695212484295);
    }

    .quote {
        font-size: 3em;
    }
}

@include laptop {
    #intro {
        transform: translateY(5em);
    }

    .intro {
        background-image: url(https://ik.imagekit.io/bzuos3bkr/tr:w-1920,h-1080,cm-extract,fo-bottom_center,e-grayscale/verona-2022.jpg?updatedAt=1695298683410);
    }

    .quote {
        margin-top: 1em;
        font-size: 3.5em;
        // background-color: var(--dark-gray);
        // padding: 0.5em;
        // border-radius: var(--border-radius);
    }

    .navigation {
        .menu-button {
            margin-right: 1em;
        }

        .links-container {
            font-size: 1.5em;
            margin-right: 1em;
        }
    }
}