<div class="outer" appScrollManager>
    <nav class="navigation">
        <button id="menu" aria-label="menu" class="glass menu-button" (click)="toggleMenu()"><fa-icon [icon]="faBars"></fa-icon></button>
        <div title="menu" class="glass links-container" [ngClass]="{'open': showMenu }">
            <ul class="links">
                <li class="inset-border" appScrollAnchor="about-me" (click)="closeMenu()">About me</li>
                <li class="inset-border" appScrollAnchor="skills" (click)="closeMenu()">Skills</li>
                <li class="inset-border" appScrollAnchor="work-experiences" (click)="closeMenu()">Work experiences</li>
                <li class="inset-border" appScrollAnchor="projects" (click)="closeMenu()">Projects</li>
                <li class="inset-border" appScrollAnchor="open-source" (click)="closeMenu()">Open source</li>
                <li class="inset-border" appScrollAnchor="education" (click)="closeMenu()">education</li>
                <li class="inset-border" appScrollAnchor="certifications" (click)="closeMenu()">Certifications</li>
                <li class="inset-border" appScrollAnchor="interests" (click)="closeMenu()">Interests</li>
            </ul>
        </div>
    </nav>
    <div class="parallax-container intro">
        <section id="intro" appScrollSection="intro">
            <div class="intro-container glass">
                <div class="name">
                    Fabio Cometti
                </div>
                <div class="title">
                    Software architect &amp; <br>
                    Technical leader
                </div>
            </div>
        </section>
    </div>
    <div class="buffer"></div>
    <ng-template sectionHost></ng-template>
    <div class="buffer"></div>
    <ng-template sectionHost></ng-template>
    <div class="buffer"></div>
    <ng-template sectionHost></ng-template>
    <div class="buffer"></div>
    <ng-template sectionHost></ng-template>
    <div class="buffer"></div>
    <ng-template sectionHost></ng-template>
    <div class="buffer"></div>
    <ng-template sectionHost></ng-template>
    <div class="buffer"></div>
    <ng-template sectionHost></ng-template>
    <div class="buffer"></div>
    <ng-template sectionHost></ng-template>
    <div class="buffer"></div>
    <ng-template sectionHost></ng-template>
</div>
